<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyphenate.chatuidemo"
    >

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <!-- GCM required, remember replace "com.hyphenate.chatuidemo" to your own package -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission
        android:name="com.hyphenate.chatuidemo.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.hyphenate.chatuidemo.permission.C2D_MESSAGE"/>

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/em_logo_uidemo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Splash-->
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--Main-->
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>

        <!--Sign in activity-->
        <activity
            android:name=".sign.SignInActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!--Sign up activity-->
        <activity
            android:name=".sign.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <!--Video call activity-->
        <activity
            android:name=".call.VideoCallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <!--Voice call activity-->
        <activity
            android:name=".call.VoiceCallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>


        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowImageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.hyphenate.easeui.ui.EaseMapActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".group.GroupListActivity"/>
        <activity android:name=".group.GroupDetailsActivity"/>
        <activity android:name=".group.InviteMembersActivity"/>
        <activity android:name=".group.MembersListActivity"/>
        <activity android:name=".group.GroupMembersListActivity"/>
        <activity android:name=".group.GroupAdminActivity"/>
        <activity android:name=".group.NewGroupActivity"/>
        <activity android:name=".group.PublicGroupsListActivity"/>
        <activity android:name=".group.GroupTransferOwnerActivity"/>
        <activity android:name=".group.GroupBlackListOrMuteActivity"/>

        <!--Chat room-->
        <activity android:name=".chatroom.ChatRoomListActivity"/>
        <activity android:name=".chatroom.ChatRoomDetailsActivity"/>
        <activity android:name=".chatroom.ChatRoomMembersActivity"/>
        <activity android:name=".chatroom.ChatRoomBlacklistActivity"/>

        <!--Chat activity-->
        <activity
            android:name=".chat.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            />


        <!--Account activity-->
        <activity
            android:name=".settings.AccountActivity"
            android:screenOrientation="portrait"/>
        <!--Add contacts-->
        <activity
            android:name=".user.AddContactsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible"/>

        <!--Apply for activity-->
        <activity
            android:name=".apply.ApplyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <!--Blacklist activity-->
        <activity
            android:name=".settings.BlackListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <!-- gcm start -->
        <receiver
            android:name="com.hyphenate.chat.EMGCMBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>

                <category android:name="com.hyphenate.chatuidemo"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.hyphenate.chat.EMGCMListenerService"
            android:exported="false">
        </service>

        <receiver
            android:name=".chat.GCMPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hyphenate.sdk.push"/>

                <category android:name="com.hyphenate.chatuidemo"/>
            </intent-filter>
        </receiver>
        <!-- gcm end -->


        <!-- set your API key -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="easemob-demo#chatdemoui"/>
        <!-- SDK service -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true"/>
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            />
        <!-- SDK receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
            <!-- optional filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="33bb2bc04d2ed7f91da02025c362279e3406ed81"/>

        <!-- set your google map api key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAzTPKEIuWRgCtcn6NJeHqOPXcbG6YWM-4"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="33bb2bc04d2ed7f91da02025c362279e3406ed81"/>
    </application>

</manifest>
